<div class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner">
    <% service.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= "active" if index == 0 %> ">
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
</div>
