.card-service {
  display: flex;
  width: 600px;
  height: 120px;
  margin-top: 5px;
  text-decoration: none!important;
  background-color: white;
  box-shadow: 2px 2px 5px #b3b3b3;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }

  .carousel {
    width: 20%;
    img {
      height: 120px;
    }
  }

  .card-service__infos {
    padding: 10px;

    h2 {
      font-size: 18px;
      color: black;
    }
    p {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 0;
      color: grey;
    }
  }
}
